---
title: Overview
---

%h1 People

.clearfix
  %h2.pi-name Christopher B. Rodell, PhD
  = image_tag "RodellChris.jpg", class: "right"
  %p 
    %strong
      Assistant Professor
    %br
    School of Biomedical Engineering, 
    %br
    Science and Health Systems
    %br
    Drexel University
    %br
    Email: 
    = mail_to "cbr58@drexel.edu"

  %p
    %strong Biography
    %br
    Dr. Christopher B. Rodell is an Assistant Professor in the School of Biomedical Engineering, Health and Science Systems at Drexel University. Chris received his B.S. and M.S. degrees from Tulane University as part of the historic ‘Katrina Class’ of 2009. He went on to conduct his doctoral research at the University of Pennsylvania, working on the development and in vivo application of injectable supramolecular hydrogels. Following completion of his PhD, Chris was a postdoctoral scholar with the Center for Systems Biology at Massachusetts General Hospital and Harvard Medical School, exploring drug delivery platforms for innate immune activation and their applications toward cancer immunotherapy. To date, Chris has authored more than 35 peer-reviewed publications, 3 patent applications, and is the recipient of a number of awards, including an American Heart Association Predoctoral Fellowship, a Materials Research Society Gold Award, and the Solomon R. Pollack Award for excellence in graduate biomedical engineering research from the University of Pennsylvania, and a Hartwell Individual Biomedical Research Award.

%p
  %strong Education
  %br
  Postdoc at Massachusetts General Hospital & Harvard Medical School, 2016-2019 
  %br
  PhD in Bioengineering, University of Pennsylvania, 2016
  %br
  MS in Biomedical Engineering, Tulane University, 2011
  %br
  BS in Biomedical Engineering & Physics, Tulane University, 2011
%p
  %strong Research Interests
  %br
  Biomaterials, supramolecular chemistry, and drug delivery. Therapeutic applications including the etiology of disease, organ injury, cardiovascular engineering, immune engineering, and biomedical imaging.

.row
  .twelve.medium-12.columns
    %h3 Students
    %ul.small-block-grid-2.large-block-grid-2
      %li
        = image_tag "Shreya-Soni.png", alt: " "
        %p.text-center 
          %strong Shreya Soni
          %br
          PhD Student, BME
          %br
          BS, Biomedical Engineering; Rutgers University

      %li
        = image_tag "Arielle-DElia.png", alt: " "
        %p.text-center 
          %strong Arielle D'Elia
          %br
          PhD Student, BME
          %br
          BS, Biomedical Engineering; Rutgers University

    %ul.small-block-grid-3.large-block-grid-3
      %li
        = image_tag "Abdulrahman-Alsasa.png", alt: " "
        %p.text-center 
          %strong Abdulrahman <br>(Abed) Alsasa
          %br
          MS Student, BME
          %br
          BS, Biomedical Engineering; University of Rhode Island  
      %li
        = image_tag "Jocelyn-Kurtz.png", alt: " "
        %p.text-center 
          %strong Jocelyn Kurtz
          %br
          MS Student, BME
          %br
          BS, Biomedical Engineering; Worcester Polytechnic Institute
      %li
        = image_tag "Victor-Mishin.png", alt: " "
        %p.text-center 
          %strong Victor Mishin
          %br
          MS Student, BME
          %br
          BS, Biomedical Engineering; Worcester Polytechnic Institute
    %ul.small-block-grid-3.large-block-grid-3
      %li
        = image_tag "Neha-Nevasekar.png", alt: " "
        %p.text-center 
          %strong Neha Nevasekar
          %br
          Undergraduate Student, BME
      %li
        = image_tag "Manthan-Patel.png", alt: " "
        %p.text-center 
          %strong Manthan (Manny) Patel 
          %br
          Undergraduate Student, CBE
