---
title: Recent News
---

%h1= current_page.data.title

- data.news.each do |item|
  %p
    %strong= item.month
  - item.news.each do |n|
    %p.text-center
      - if n.img.present?
        = image_tag n.img, style: "max-width: 300px;"
    %p= n.text
    %hr

%p
  %strong January, 2019 
  %br
  We are excited to announce 
  = link_to "positions are available", "#{http_prefix}Recruiting Announcement.pdf"   
  at all levels starting in the Fall of 2019. 
%hr

%p 
  %strong January, 2019 
  %br
  The lab webpage is finally live! 
