.home-panel
  %h3 Recent News
  %ul.unstyled
    %li 
      %strong Coming Soon!
      %br
      The agenda is coming together for the 3rd Annual Immune Modulation and Engineering Symposium at Drexel! Looking forward to another amazing lineup of speakers. <strong>Save the date (Dec. 8-10, 2021)</strong> and registration info will be coming soon.  
      = link_to "Registration coming soon!", "https://biomed.drexel.edu/immunesymposium/" 
  = link_to "More News", "#{http_prefix}news/recent", class: "more-link"

.home-panel
  %h3 Recent Publications
  %ul.unstyled
    %li 
      %strong Therapeutically reprogrammed nutrient signaling enhances nanoparticulate albumin bound drug uptake and efficacy in KRAS-mutant cancer.
      %br
      %em Nature Nanotechnology
      %br
      2021
    %li 
      %strong Applications of Macrocyclic Supramolecules in the Immune Modulation and Therapeutic Delivery.
      %br
      %em Frontiers in Chemistry
      %br
      2021
  = link_to "More Publications", "#{http_prefix}publications/list", class: "more-link"

