.home-panel
  %h3 Recent News
  %ul.unstyled
    %li 
      %strong July, 2020
      %br
      The Drexel Immune Modulation & Engineering Symposium will be going virtual this year. 
      = link_to "Registration coming soon!", "https://biomed.drexel.edu/immunesymposium/" 
  = link_to "More News", "#{http_prefix}news/recent", class: "more-link"

.home-panel
  %h3 Recent Publications
  %ul.unstyled
    %li 
      %strong Myeloid cell-targeted nanocarriers efficiently inhibit cellular inhibitor of apoptosis for cancer immunotherapy
      %br
      %em Cell Chemical Biology
      %br
      2020
    %li 
      %strong Injectable shear-thinning hydrogels prevent ischemic mitral regurgitation and normalize ventricular flow dynamics
      %br
      %em Seminars in Thoracic and Cardiovascular Surgery
      %br
      2018
  = link_to "More Publications", "#{http_prefix}publications/list", class: "more-link"

