.home-panel
  %h3 Recent News
  %ul.unstyled
    %li 
      %strong January, 2019 
      %br
      We are excited to announce 
      = link_to "positions are available", "#{http_prefix}Recruiting Announcement.pdf" 
      at all levels starting in the Fall of 2019.
  = link_to "More News", "#{http_prefix}news/recent", class: "more-link"

.home-panel
  %h3 Recent Publications
  %ul.unstyled
    %li 
      %strong A Supramolecular Nanocarrier for Delivery of Amiodarone Anti-Arrhythmic Therapy to the Heart
      %br
      %em Bioconjugate Chemistry
      %br
      2019
    %li 
      %strong Quantitative imaging of tumor associated macrophages and their response to therapy using 64Cu- labeled Macrin
      %br
      %em ACS Nano
      %br
      2018
  = link_to "More Publications", "#{http_prefix}publications/list", class: "more-link"

